.content{
    display: none;
    width:  100%;
    text-align: center;
}

.tab{
    text-align: center;
    font-size: 50px;
    width: 20%;
}

.mapImage{
    width: 100%;
}

.productImg{
    width: 350px;
}

.productSearch{
    width: 300px;
    height: 20px;
}