
body, html, p *{
   font-size: 16px ;
   color: #000000;

}

.content{
    display: none;
    width:  100%;
    text-align: center;
}

.commentbox{
    height: 200px;
    width: 50vw;
    margin-bottom: 20px;
}

.commentcontainer{
    margin-bottom: 40px;
    background-color: grey;
    border-radius: 10px;
    text-align: center;
    width: 55vw;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.tab{
    text-align: center;
    font-size: 6vw;
    width: 20%;
}

.mapImage{
    width: 100%;
}

.productImg{
    width: 350px;
}

.productSearch{
    width: 50%;
    height: 20px;
}
